.container {
    position: absolute;
    background-color: #e5e4e2;
    margin-top: 30px;
    margin-left: 250px;
    height: 530px;
    width: 68rem;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}