.container {
    margin-left: -2%;
    margin-top: -2%;
    margin-right: -2%;
    text-align: center;
    padding-bottom: 85px;
    background-color: #e5e4e2;
}

.content {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 0.1rem solid white;
    position: fixed;
    top: 0%;
    width: 100%;
}

.firstdiv {
    margin-left: 5%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstdiv span {
    font-size: 25px;
    color: gray;
    border-radius: 10px;
    cursor: pointer;
}

.firstdiv h3 {
    margin: 2px;
    margin-top: -4px;
    font-size: 25px;
    color: #800020;
    border-radius: 10px;
}


.title {
    color: black;
}

.seconddiv input {
    width: 500px;
    padding: 15px;
    border: none;
    border: 2px solid #a9a9a9;
    border-radius: 10px;
    outline: none;
    background-color: #a9a9a9;
    color: black;
}

.thirddiv {
    font-size: 30px;
    color: black;
}

.thirddiv span {
    cursor: pointer;
}

.thirddiv p {
    margin-top: -30%;
    font-size: 15px;
}